// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$blockquote-border-left:           $base-border-style;
$blockquote-border-size:           5px;
$blockquote-font-style:            italic;
$blockquote-margin:                $base-margin-size 0;
$blockquote-padding:               $base-padding-size $base-padding-size * 2;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Mixins
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin blockquote-colors($color) {
 background-color: rgba($color, 0.1);
 border-color: $color;
 color: $color;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Blockquotes
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.blockquote {
 border-left: $blockquote-border-left;
 border-width: $blockquote-border-size;
 font-style: $blockquote-font-style;
 margin: $blockquote-margin;
 padding: $blockquote-padding;

 &.blockquote-primary {
  @include blockquote-colors($colors-primary-background);
 }

 &.blockquote-success {
  @include blockquote-colors($colors-success-background);
 }

 &.blockquote-warning {
  @include blockquote-colors($colors-warning-background);
 }

 &.blockquote-danger {
  @include blockquote-colors($colors-danger-background);
 }

}
