
// Variables


$button-border-radius:                   $base-elements-border-radius;
$button-border:                          1px solid $colors-base;
$button-color:                           $colors-base;
$button-font-size:                       0.8em;
$button-font-weight:                     600px;
$button-height:                          $base-texts-height;
$button-hover-border:                    $colors-base-hover;
$button-hover-color:                     $colors-base-hover;
$button-hover-background-color:          transparent;
$button-letter-spacing:                  .1rem;
$button-padding:                         0 $base-padding-size;
$button-margin:                          $base-margin-size 0;


// Buttons

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display:             inline-block;
  box-sizing:          border-box;
  margin:              $button-margin;
  padding:             $button-padding;
  height:              $button-height;
  border:              $button-border;
  border-radius:       $button-border-radius;
  background-color:    transparent;
  color:               $button-color;
  text-align:          center;
  text-decoration:     none;
  text-transform:      uppercase;
  white-space:         nowrap;
  letter-spacing:      $button-letter-spacing;
  font-weight:         $button-font-weight;
  font-size:           $button-font-size;
  line-height:         $button-height;
  cursor:              pointer;

  &:hover, &:focus {
   outline:      0;
   border-color: $button-hover-border;
   color:        $button-hover-color;
  }

  &.button-primary {
   border-color:     $colors-primary-border;
   background-color: $colors-primary-background;
   color:            $colors-primary;

   &:hover, &:focus {
    border-color:     $colors-primary-border-hover;
    background-color: $colors-primary-background-hover;
    color:            $colors-primary-hover;
   }
  }

  &.button-success {
   border-color:     $colors-success-border;
   background-color: $colors-success-background;
   color:            $colors-success;

   &:hover, &:focus {
    border-color:     $colors-success-border-hover;
    background-color: $colors-success-background-hover;
    color:            $colors-success-hover;
   }
  }

  &.button-warning {
   border-color:     $colors-warning-border;
   background-color: $colors-warning-background;
   color:            $colors-warning;

   &:hover, &:focus {
    border-color:     $colors-warning-border-hover;
    background-color: $colors-warning-background-hover;
    color:            $colors-warning-hover;
   }
  }

  &.button-danger {
   border-color:     $colors-danger-border;
   background-color: $colors-danger-background;
   color:            $colors-danger;

   &:hover, &:focus {
    border-color:     $colors-danger-border-hover;
    background-color: $colors-danger-background-hover;
    color:            $colors-danger-hover;
   }
  }
}


// Media Queries

@media (max-width: $base-media-phablet-max) {
 .button,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
  width: 100%;
 }
}
