
// Variables

$button-border-radius: $base-elements-border-radius;
$button-border: 1px solid $colors-base;
$button-color: $colors-base;
$button-font-size: 0.8em;
$button-font-weight: 600px;
$button-height: $base-texts-height;
$button-hover-border: $colors-base-hover;
$button-hover-color: $colors-base-hover;
$button-hover-background-color: transparent;
$button-letter-spacing: 0.1rem;
$button-padding: 0 $base-padding-size;
$button-margin: $base-margin-size 0;

// Mixins
@mixin button() {
    height: $button-height;

    display: inline-block;

    margin: $button-margin;
    padding: $button-padding;
    box-sizing: border-box;

    color: $button-color;
    background-color: transparent;
    border: $button-border;
    border-radius: $button-border-radius;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: $button-letter-spacing;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    line-height: $button-height;

    cursor: pointer;
}

// Buttons

.ain-button,
input[type="button"].ain-button,
input[type="reset"].ain-button,
input[type="submit"].ain-button {
    @include button();

    &:focus,
    &:hover {
        color: $button-hover-color;
        border-color: $button-hover-border;
        outline: 0;
    }
}

.ain-button-primary {
    @include button();

    color: $colors-primary;
    background-color: $colors-primary-background;
    border-color: $colors-primary-border;

    &:focus,
    &:hover {
        color: $colors-primary-hover;
        background-color: $colors-primary-background-hover;
        border-color: $colors-primary-border-hover;
    }
}

.ain-button-success {
    @include button();

    color: $colors-success;
    background-color: $colors-success-background;
    border-color: $colors-success-border;

    &:focus,
    &:hover {
        color: $colors-success-hover;
        background-color: $colors-success-background-hover;
        border-color: $colors-success-border-hover;
    }
}

.ain-button-warning {
    @include button();

    color: $colors-warning;
    background-color: $colors-warning-background;
    border-color: $colors-warning-border;

    &:focus,
    &:hover {
        color: $colors-warning-hover;
        background-color: $colors-warning-background-hover;
        border-color: $colors-warning-border-hover;
    }
}

.ain-button-danger {
    @include button();

    color: $colors-danger;
    background-color: $colors-danger-background;
    border-color: $colors-danger-border;

    &:focus,
    &:hover {
        color: $colors-danger-hover;
        background-color: $colors-danger-background-hover;
        border-color: $colors-danger-border-hover;
    }
}
// Media Queries
@media (max-width: $base-media-phablet-max) {
    .ain-button,
    input[type="button"].ain-button,
    input[type="reset"].ain-button,
    input[type="submit"].ain-button {
        width: 100%;
    }
}
