
// Variables

$caption-background-default-color: $base-color;
$caption-border-radius: $base-elements-border-radius;
$caption-padding: 1em 2em;
$caption-color: #EEE;
$caption-height: 30px;

// Mixins
@mixin caption() {
    height: $caption-height;

    margin-bottom: 0.75rem;

    background: $caption-color;
    border-radius: $caption-border-radius;

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: $caption-height;
    text-align: center;
}

// Captions

.ain-caption {
    @include caption();
}

.ain-caption-primary {
    @include caption();
    background-color: $colors-primary-background;
}

.ain-caption-success {
    @include caption();
    background-color: $colors-success-background;
}

.ain-caption-warning {
    @include caption();
    background-color: $colors-warning-background;
}

.ain-caption-danger {
    @include caption();
    background-color: $colors-danger-background;
}
