
// Variables


$code-background-color:           $colors-white;
$code-border-radius:              $base-elements-border-radius;
$code-border:                     1px solid $colors-base-border;
$code-font-size:                  $base-font-size;
$code-margin:                     0 .2rem;
$code-padding:                    .2rem .5rem;

$pre-code-padding:                1rem 1.5rem;


// Code


code {
  display: block;
  overflow: scroll;
  margin: $code-margin;
  padding: $code-padding;
  border: $code-border;
  border-radius: $code-border-radius;
  background-color: $code-background-color;
  white-space: nowrap;
  font-size: $code-font-size;
}

pre > code {
  display: block;
  padding: $pre-code-padding;
  white-space: pre;
}
