
// Variables

$image-squared-size: 100%;
$image-circle-size: 100%;

$image-small-size: 100px;
$image-medium-size: 150px;
$image-large-size: 200px;

$image-bordered-border: 0.5em solid white;

// Mixins
@mixin image() {
    position: relative;
    display: inline-block;
}

@mixin image-bordered() {
    @include image();
    border: $image-bordered-border;
}

// Images

.ain-image {
    @include image();
}

.ain-image-squared {
    @include image();
    width: $image-squared-size;
    height: $image-squared-size;
}

.ain-image-circle {
    @include image();
    width: $image-circle-size;
    height: $image-circle-size;
    border-radius: 50%;
}

.ain-image-small {
    @include image();
    width: $image-small-size;
    height: $image-small-size;
}

.ain-image-medium {
    @include image();
    width: $image-medium-size;
    height: $image-medium-size;
}

.ain-image-large {
    @include image();
    width: $image-large-size;
    height: $image-large-size;
}

.ain-image-bordered {
    @include image();
    border: $image-bordered-border;
}

.ain-image-bordered-primary {
    @include image-bordered();
    border-color: $colors-primary-border;
}

.ain-image-bordered-success {
    @include image-bordered();
    border-color: $colors-success-border;
}

.ain-image-bordered-warning {
    @include image-bordered();
    border-color: $colors-warning-border;
}

.ain-image-bordered-danger {
    @include image-bordered();
    border-color: $colors-danger-border;
}
