
// Variables


$image-squared-size:  100%;
$image-circle-size:   100%;

$image-small-size:    100px;
$image-medium-size:   150px;
$image-large-size:    200px;


$image-bordered-border: .5em solid white;


// Images


.image {
 position: relative;
 display: inline-block;
}

.image-squared {
  width: $image-squared-size;
  height: $image-squared-size;

  @extend .image;
}

.image-circle {
 width: $image-circle-size;
 height: $image-circle-size;
 border-radius: 50%;

 @extend .image;
}

&.image-small {
 width: $image-small-size;
 height: $image-small-size;
}

&.image-medium {
 width: $image-medium-size;
 height: $image-medium-size;
}

&.image-large {
 width: $image-large-size;
 height: $image-large-size;
}

.image-bordered {
  border: $image-bordered-border;
}

.image-bordered-primary {
 border-color: $colors-primary-border;

 @extend .image-bordered;
}

.image-bordered-success {
 border-color: $colors-success-border;

 @extend .image-bordered;
}

.image-bordered-warning {
 border-color: $colors-warning-border;

 @extend .image-bordered;
}

.image-bordered-danger {
 border-color: $colors-danger-border;

 @extend .image-bordered;
}
