
// Variables


$link-color:       darken($colors-base, 30%);
$link-color-hover: darken($colors-base, 21%);


// Link


a, a:active, a:visited, a:focus {
  color: $link-color;
}

a:hover {
 color: $link-color-hover;
 text-decoration: none;
 cursor: pointer;
}

a.button-link {
 text-decoration: none;
 cursor: pointer;
}
