
// Variables


$base-color:                   $colors-base-font-color;
$base-font-family:             $font-family-lato;
$base-font-size:               1em;
$base-font-weight:             400;
$base-line-height:             1.6;

$base-texts-height:            38px;
$base-elements-border-radius:  0;


// Base


body {
  margin: 0;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}


// Typography


h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: 300;
}

h1 {
  letter-spacing: -.1rem;
  font-size: 4.0rem;
  line-height: 1;
}

h2 {
  letter-spacing: -.1rem;
  font-size: 3.2rem;
  line-height: 1.25;
}

h3 {
  letter-spacing: -.1rem;
  font-size: 3.0rem;
  line-height: 1.3;
}

h4 {
  letter-spacing: -.08rem;
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  letter-spacing: -.05rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  letter-spacing: 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

hr {
 width: 80%;
 border: $base-border-style;
}

@media (min-width: $base-media-phablet-min) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.2rem;
  }
}

p {
  margin-top: 0;
}


// Utilities


.u-full-width {
  box-sizing: border-box;
  width: 100%;
}

.u-max-full-width {
  box-sizing: border-box;
  max-width: 100%;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-centered {
 margin: 0 auto 0 auto;
}

.u-text-centered {
 text-align: center;
}

.u-text-primary {
 color: $colors-primary-background;
}

.u-text-success {
 color: $colors-success-background;
}

.u-text-danger {
 color: $colors-danger-background;
}

.u-text-warning {
 color: $colors-warning-background;
}

.container:after,
.row:after,
.u-cf {
  display: table;
  clear: both;
  content: "";
}
