// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Colors
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$color-darken-background: 10%;
$color-darken-border: 10%;


$colors-base-font-color:            #222;
$colors-base:                       #727B84;
$colors-base-hover:                 darken($colors-base, $color-darken-background);
$colors-base-border:                darken($colors-base, $color-darken-border);
$colors-white:                      #FFFFFF;

// Primary
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$colors-primary-background:         #72ADBF;
$colors-primary-border:             darken($colors-primary-background, $color-darken-border);
$colors-primary-background-hover:   darken($colors-primary-background, $color-darken-background);
$colors-primary-border-hover:       darken($colors-primary-background, $color-darken-border);
$colors-primary-hover:              $colors-white;
$colors-primary:                    $colors-white;


// Success
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$colors-success-background:         #60C18F;
$colors-success-border:             darken($colors-success-background, $color-darken-border);
$colors-success-background-hover:   darken($colors-success-background, $color-darken-background);
$colors-success-border-hover:       darken($colors-success-background, $color-darken-border);
$colors-success-hover:              $colors-white;
$colors-success:                    $colors-white;

// Warning
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$colors-warning-background:         #B2955B;
$colors-warning-border:             darken($colors-warning-background, $color-darken-border);
$colors-warning-background-hover:   darken($colors-warning-background, $color-darken-background);
$colors-warning-border-hover:       darken($colors-warning-background, $color-darken-border);
$colors-warning-hover:              $colors-white;
$colors-warning:                    $colors-white;

// Danger
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$colors-danger-background:         #C45C8B;
$colors-danger-border:             darken($colors-danger-background, $color-darken-border);
$colors-danger-background-hover:   darken($colors-danger-background, $color-darken-background);
$colors-danger-border-hover:       darken($colors-danger-background, $color-darken-border);
$colors-danger-hover:              $colors-white;
$colors-danger:                    $colors-white;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Fonts
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$base-font-family:                 $font-family-open-sans;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Lines
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$base-border-style:               1px solid $colors-base-border;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Spaces
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$base-padding-size:              1rem;
$base-margin-size:               1rem;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Media Queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$base-media-phablet-max:           750px;
$base-media-phablet-min:           650px;
$base-media-phone-min:             400px;
